#hamburger{
display:none;
}

@media(max-width:768px){
    #hamburger{
    display:block;
    }

    #sidebar{
    position:fixed;
    left:-300px;
    top:60px;
    height:100%;
    transition:.3s;
    z-index:100;
    }

    #sidebar.open{
    left:0;
    }

    .container{
    display:block;
    }
}