*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:sans-serif;

background:#1f1f1f;

color:white;

}


header{

height:60px;

display:flex;

align-items:center;

padding:0 20px;

background:#2f2f2f;

}


header h1{

margin-left:20px;

}



.container{

display:flex;

height:calc(100vh - 60px);

}



#sidebar{

width:300px;

background:#333;

padding:20px;

overflow:auto;

}


#detailArea{

flex:1;

padding:30px;

overflow:auto;

}



.characterCard{

padding:15px;

margin-bottom:10px;

background:#444;

cursor:pointer;

border-radius:10px;

transition:0.2s;

}



.characterCard:hover{

background:#666;

}



.characterCard:active{

transform:scale(0.98);

}

.characterImage{

width:300px;

border-radius:12px;

margin-bottom:20px;

}



.selected{


background:#ff7b00;


}



#favoriteBtn{


padding:10px;


margin-bottom:20px;


cursor:pointer;


}



@media(max-width:768px){


.characterImage{

width:100%;

}


}