*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:sans-serif;
    background:#1f1f1f;
    color:white;
}

header{
    height:60px;
    display:flex;
    align-items:center;
    padding:0 20px;
    background:#2f2f2f;
}

header h1{
    margin-left:20px;
}

.container{
    display:flex;
    height:calc(100vh - 60px);
}

#sidebar{
    width:300px;
    background:#333;
    padding:20px;
    overflow:auto;
}

#detailArea{
    flex:1;
    padding:30px;
    overflow:auto;
}

.characterCard{
    padding:15px;
    margin-bottom:10px;
    background:#444;
    cursor:pointer;
    border-radius:10px;
    transition:0.2s;
}

.characterCard:hover{
    background:#666;
}

.characterCard:active{
    transform:scale(0.98);
}

.characterImage{
    width: min(600px, 100%);
    height: auto;
    display:block;
    margin: 0 auto;
}

.selected{
    background:#ff7b00;
}

@media(max-width:768px){
    .characterImage{
        width:100%;
    }
}

.styleButtons{
    display:flex;
    gap:8px;
    margin-top:20px;
}

.styleButtons button{
    flex:1;
    min-width: 0;

    padding: clamp(6px, 2vw, 10px);
    font-size: clamp(12px, 2.5vw, 16px);

    background:#444;
    color:#ccc;
    transition:0.2s;
}

.styleButtons button.selected{
    background:#ff7b00;
    color:white;
}

.tabs{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
}

.tabs button{
    flex:1;
    min-width:0;
    border-radius:0;
    padding: clamp(6px, 2vw, 10px);
    font-size: clamp(12px, 2.5vw, 16px);
}

#contentArea{
    margin-top:30px;
}

iframe{
    border:none;
}

.filterButtons{
    display: flex;
    align-items: center;
    gap: 8px;    
}

.filterButtons button{
    flex:1;
    height:50px;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:0;
    margin: 5px 0px 10px 0px;
    border-radius: 8px;
    border:none;
    font-size:16px;
    line-height:1;
}

.filterButtons button.selected{
    background:#4CAF50;
    color:white;
}